.chatroom {
  width: 80%;
  height: 425px;
  margin: 0 auto;
  background-color: rgba(0,0,0, .5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

#chatMessageHeader {
  font-size: 12px;
  text-align: left !important;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 400px;
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: red;
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 200px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color: red;
}

.chatForm {
  height: 45px;
  width: 80%;
  margin: 0 auto;
  background: darkslategrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chatMessageInput {
  width: 60%;
}