/* .wrapper {
    min-height: 200px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 0%,rgba(255,255,255,0.7) 100%),url('/assets/images/skyline.jpg');
    background-repeat: repeat-x;
} */