/* Recipe Section
--------------------------------*/
#recipes {
    padding: 60px 0;
}

#localResources {
  padding: 30px 0;
  background: url("/assets/images/donate/donate-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

#localResources:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}
#localResources .container {
  position: relative;
  z-index: 10;
}

  #recipes #portfolio-flters {

    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  

  #recipes #portfolio-flters li {

    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  

  #recipes #portfolio-flters li:hover, #recipes #portfolio-flters li.filter-active {

    background: #18d26e;
    color: #fff;
  }
  

  #recipes #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  #recipes .portfolio-wrap {


    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }
  

  #recipes .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  #recipes .portfolio-item {

    position: relative;
    height: 360px;
    overflow: hidden;
  }
  

  #recipes .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
  }
  

  #recipes .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #recipes .portfolio-item figure .link-preview, #recipes .portfolio-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
  }
 

  #recipes .portfolio-item figure .link-preview i, #recipes .portfolio-item figure .link-details i {

    padding-top: 6px;
    font-size: 22px;
    color: #333;
  }
  

  #recipes .portfolio-item figure .link-preview:hover, #recipes .portfolio-item figure .link-details:hover {
    background: #528fff;
    text-decoration: none;
  }
  
  #recipes .portfolio-item figure .link-preview:hover i, #recipes .portfolio-item figure .link-details:hover i {
    color: #fff;
  }
  
  #recipes .portfolio-item figure .link-preview {
    left: calc(50%);
    top: calc(50%);
  }
  

  

  #recipes .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 12px);
  }
  


  #recipes .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
  }
  

  #recipes .portfolio-item .portfolio-info h4 {

    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
  }
  

  #recipes .portfolio-item .portfolio-info h4 a {
    color: #333;
  }
  
  #recipes .portfolio-item .portfolio-info h4 a:hover {
    color: #528fff;
  }
  
  #recipes .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  } 

  #recipes .cta-btn {
    display: block;
    width: 20%;
   text-align: center;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #528fff;
    color: white;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #recipes .cta-btn:hover {
    background-color: white;
    color: #528fff;
    border: 2px solid #528fff;
    text-decoration: none;
  }