.signup {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

button {
    margin-top: 5%;
}

input {
    margin-bottom: 10px;
}

.btn-search {
    background-color: #00BAED;
    color: white;
    width: 150px;
    height: 32px;
    margin-top: 0;
    padding-top: 2px;
}

.form-group {
    margin: 0 auto;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}