.section {
    width: 30%;
    margin: auto;
    margin-top: 5%;    
}

.content {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 3%;
}

.sectionHeader {
    margin-top: 20px;
}

.searchResults{
margin: 0 auto;
}

#foodWasteStats {
    margin-left: 20px;
}