.recipes{
  margin-top:150px;
}

.recipe-container{
  width: 75%;
  margin: 0 auto;
  margin-top: 35px;
  min-height: 16vh;
}

.recipe-message{
  width: 52%;
  margin: 0 auto;
}

.recipe-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  width: 300px;
}

.recipe-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.recipe-item {
  position: relative;
  height: 460px;
  overflow: hidden;
}

.recipe-title{
  text-transform: uppercase;
  color: darkslategray;
}

.recipe-item figure {
  background: #000;
  overflow: hidden;
  height: 225px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.recipe-item .recipe-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 190px;
  border-radius: 0 0 3px 3px;
}


.recipe-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

body{
  overflow: scroll;
}