.recipeImg {
    border-radius: 2px;

    width: 35%;
    margin: 0 auto;
    float: left;
    margin-right: 30px;
}

.recipes {
    width: 50%;

    margin: 0 auto;
}

#ingredientSearchBox{

    width: 70%;

    margin-top: 4px;
}

.form-control{
    border: 0px;
}


.recipeSearchForm{
    width: 80%;
    margin: 0 auto;
}

#recipeCard {
    background-color: #16AA7A;
    color: white;
    font-size: 18px;
    padding: 4px;
}

.fullRecipeImg {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:20px;
}

.bullets{
    list-style-type: disc;
}