.siteContent {
  min-height: calc(100vh - 230px);
}


footer {
  z-index: 99;
  margin-bottom: 0;
  padding: 2px;
  padding-top:6px;
  height: 35px;
  background-color: lightgray;
}

#footerText{
  margin: 0;
}