#addButton{
    margin-top: 0;
    background-color: #38BE7F;
    color: white;
}

#tableContainer {
    width: 90%;
}


#searchTable td:nth-child(1) {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
    white-space: pre-line;
  }