.statList li{
    list-style-type: disc;
    margin: 10px 0;
    padding-right: 8px;
}

.stats {
    margin-left: 40px;
    margin-bottom: 20px;
}

#quote {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #DA2931;
    line-height: 28px;
}

#whatWaste {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}

#oneInSix{
  margin: 0 auto;
  display: block;
}

#foodInsecurityText{
    margin-top: 40px;
}

#foodInsecurity {
    table-layout: auto;
        border-collapse: collapse;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
}

#foodInsecurity td, #foodInsecurity th {
    border: 1px solid #ddd;
    padding: 8px;
}

#foodInsecurity tr:nth-child(even){background-color: #f2f2f2;}

#foodInsecurity tr:hover {background-color: #ddd;}

#foodInsecurity th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00BAED;
    color: white;
}